<div class="main-container">
    <span class="main-title">Submissions</span>
    <div class="input-group">
        <div class="input-wrapper">
          <input type="search" placeholder="Search...">
          <select name="" id="" placeholder="Select Form"></select>
          <select name="" id=""></select>
           <div class="input-container">
            <input type="date" id="date" placeholder="DD/MM/YYYY">
           </div>
        </div>
        <div class="btn-wrapper">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn" for="btnradio1">Map</label>
              
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn" for="btnradio2">List</label>
            </div>
            <div class="export-container">
                <div class="export-icon-wrapper">
                    <img src="../../../assets/Paper Download.svg" alt="">
                </div>
                <span class="export-title">Export</span>
            </div>
        </div>
    </div>
    <div class="task-list">
        <div class="task-list-header">
           <input type="checkbox" name="" id="">
           <div class="title-group">
            <span class="title task">Task</span>
            <span class="title status">Status</span>
            <span class="title from">From</span>
            <span class="title to">To</span>
            <span class="title address">Customer Address</span>
            <span class="title date">Due Date</span>
           </div>
        </div>
        <ul class="list-group">
            <li class="list-item" *ngFor="let submission of submissions" #listItem>
                <input type="checkbox" name="" id="">
                <div class="inform-group">
                   <div class="start">
                    <span class="item-text">{{submission.task}}</span>
                    <div class="low-risk" *ngIf="submission.status === 'Low Risk'">
                      <div class="green"></div>
                      <span class="title-green">{{submission.status}}</span>
                    </div>
                    <div class="uncompleted" *ngIf="submission.status === 'Uncomplete'">
                        <div class="red"></div>
                        <span class="title-red">{{submission.status}}</span>
                    </div>
                    <div class="unassigned" *ngIf="submission.status === 'Unassigned'">
                        <div class="grey"></div>
                        <span class="title-grey">{{submission.status}}</span>
                    </div>
                   </div>
                  <div class="middle">
                    <div class="from">
                        <span class="item-text">{{submission.from}}</span>
                      </div>
                      <div class="to">
                        <span class="item-text">{{submission.to}}</span>
                      </div>
                  </div>
                  <div class="end">
                    <div class="address">
                        <span class="item-text">{{submission.address}}</span>
                      </div>
                      <div class="date">
                        <span class="item-text">{{submission.due_date}}</span>
                      </div>
                  </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="pagination">
        <span class="pagination-title">1-10 of {{submissions.length}} submissions</span>
        <app-pagination [items]="submissions" (changePage)="changePage($event)"></app-pagination>
    </div>
</div>
