<nav class="header">
  <span class="navbar-title">ZenduForms</span>
  <div class="navbar-items">
    <a class="navbar-item forms">
        <img src="../../../assets/forms.svg" alt="" class="item-image">
        <span class="item-title">Forms</span>
    </a>
    <a class="navbar-item customers">
        <img src="../../../assets/customers.svg" alt="" class="item-image">
        <span class="item-title">Customers</span>
    </a>
    <a class="navbar-item submissions" routerLink="submissions">
        <img src="../../../assets/submissions.png" alt="" class="item-image">
        <span class="item-title">Submissions</span>
    </a>
    <a class="navbar-item history">
        <img src="../../../assets/history.svg" alt="" class="item-image">
        <span class="item-title">History</span>
    </a>
    <a class="navbar-item reports">
        <img src="../../../assets/reports.svg" alt="" class="item-image">
        <span class="item-title">Reports</span>
    </a>
    <a class="navbar-item workflow">
        <img src="../../../assets/workflow.svg" alt="" class="item-image">
        <span class="item-title">Workflow</span>
    </a>
  </div>
  <div class="navbar-icons">
    <img src="../../../assets/bell.svg" alt="" class="navbar-icon">
    <img src="../../../assets/arrow.svg" alt="" class="navbar-icon">
  </div>
</nav>
