.btn-group {
    width: 158px;
    height: 100%;
    border: 2px solid var(--dark-grey);

    .btn-outline-primary {
     --bs-btn-color: var(--dark-blue);
     --bs-btn-active-color: var(--white);
     --bs-btn-active-bg: var(--color-blue);
     --bs-btn-border-radius: 0.275rem;
   }

     label.btn { 
         border: 2px solid var(--dark-grey);
         display: flex;
         justify-content: center;
         align-items: center;
         border: none;
     }
}