.wrapper {
    width: 100%;
    height: 621px;
    display: flex;
    gap: 2.5rem;
    margin-left: 2.5rem;

    .map-wrapper {
        position: relative;
        width: 997px;
        height: 601px;

       .map-container {
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;

         .map-frame {
           height: 100%;

           #map {
            width: 100%;
            height: 100%;
           }
         }
       } 
    }

    .list {
        max-width: 459px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        .list-item {
           width: 100%;
           height: 144px;
           display: flex;
           flex-direction: column;
           gap: 0.5rem;
           border: 1px solid #B8B9BC;
           border-radius: 4px;

           .item-header {
            max-width: 427px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 1rem;

            .title {
              font-family: 'Roboto', sans-serif;  
              font-weight: 700;
              font-size: 18px;
              line-height: 140%;
              color: #060C1B;
            }

            .low-risk,
            .uncompleted,
            .unassigned {
              max-width: 128px;
              width: 100%;
              height: 27px;
              display: flex;
              align-items: center;
              padding: 4px 16px;
              gap: 8px;
              border-radius: 4px;
          
              .green,
              .red,
              .grey {
                width: 12px;
                height: 12px;
                border-radius: 50%;
              }
          
              .status-title,
              .title-green,
              .title-red,
              .title-grey {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 14px;
                line-height: 130%;
              }
           }

           .low-risk {
            border: 1px solid #53D86A;
            background:  #D7E5DA;
         }
      
         .uncompleted {
            border: 1px solid #FF3D00;
            background: rgba(255, 61, 0, 0.1);
         }
      
         .unassigned {
          background: #ECECED;
          border: 1px solid #B8B9BC;
         }
      
         .green {
          background: var(--dark-green);
         }
      
         .red {
          background: var(--dark-red);
         }
      
         .grey {
          background: var(--dark-grey);
         }
      
         .title-green {
          color: var(--dark-green);
         }
      
         .title-red {
          color: var(--dark-red);
         }
      
         .title-grey {
          color: var(--dark-grey);
         }

         }

           .item-basement {
            max-width: 256px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 0.5rem;
            margin-left: 1rem;

            .inform {
              font-family: 'Roboto', sans-serif;  
              width: 100%;
              display: flex;
              gap: 0.5rem;

              .left-text,
              .right-text,
              .date {
                font-weight: 500;
                font-size: 16px;
                line-height: 130%;
                color: #B8B9BC;
              }

              .right-text {
                color: #060C1B;
              }

              .date {
                color: #FF3D00;
              }
            }
          }
        }

        .pagination {
          width: 100%;

          
        }
    }

}

.map::ng-deep .leaflet-control-container {
  
  .leaflet-bottom .leaflet-control {
    margin-bottom: 60px;
  }

  .leaflet-right .leaflet-control {
    margin-right: 42px;
  }

  .leaflet-top .leaflet-control {
    margin-top: 36px;
  }

  .leaflet-control-layers-toggle {
    width: 48px;
    height: 48px;
    border-radius: 72px;
  }
}

.map::ng-deep .leaflet-control-container .leaflet-bar {
  width: 3rem;
  height: 6rem;
}

.map::ng-deep .leaflet-control-container .leaflet-bar a{
  width: 43px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-pagination::ng-deep .ngx-pagination li{
    font-family: 'Roboto', sans-serif;
    width: 2rem;
    height: 2rem;
    border: 1px solid #B8B9BC;
    border-radius: 4px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #060C1B
  }
  
  .my-pagination::ng-deep .ngx-pagination .current{
    font-family: 'Roboto', sans-serif;
    width: 2rem;
    height: 2rem;
    border: solid 1.3px #6fb6ff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2188D9;
    cursor: pointer;
  }

.my-pagination::ng-deep .ngx-pagination {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  
  }
  
  .my-pagination::ng-deep .ngx-pagination .pagination-previous a::before,
  .my-pagination::ng-deep .ngx-pagination .pagination-previous.disabled::before {
    content: url(../../../assets/ArrowLeft.svg) !important;
    display: inline-block;
    margin-right: 0.3rem;
    margin-top: 0.4rem;
  }
  
  .my-pagination::ng-deep .ngx-pagination .pagination-previous:hover,
  .my-pagination::ng-deep .ngx-pagination .pagination-next:hover {
    background: #ECECED;
  }
  
  .my-pagination::ng-deep .ngx-pagination .pagination-next a::after,
  .my-pagination::ng-deep .ngx-pagination .pagination-next.disabled::after{
    content: url(../../../assets/ArrowRight.svg) !important;
    display: inline-block;
    margin-right: 0.3rem;
    margin-top: 0.4rem;
  }
  
  .my-pagination::ng-deep .ngx-pagination .small-screen {
    display: none;
  }

