/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

:root {
   --color-blue:  #2188D9;
   --color-green: #D7E5DA;
   --color-red: rgba(255, 61, 0, 0.1);
   --color-grey: #ECECED;
   --dark-green: #53D86A;
   --dark-red:#FF3D00;
   --dark-grey: #B8B9BC;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}